.Counters{
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  text-align: justify;
  top: 0px;
  right: 0px;
  width: auto;
  padding-inline: 1rem;

  background-color: rgba(0, 0, 0, 0);
  color: rgb(43, 43, 43);
  z-index: 100;
}