.PaintingPanel{
  height: auto;
  max-height: 95%;

  width: auto;

  background-color: rgb(173, 59, 59);
  overflow: hidden;


  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

}

.PaintingImgContainer{
  /* width: 40%; */
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 100%;
  border: solid black 2px;

}

.PaintingImg{
  width: auto;
  height: auto;

  display: block;
  max-width: 47.5vw;
}