[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "*"
svgwrite = "*"
spot-the-image-gen-svgs = {path = "."}
pillow = "*"
pytest-shutil = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
